/* Reset de estilos para eliminar los márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff; 
  font-family: Arial, sans-serif; /* Agrega el tipo de fuente aquí */
  color: #333; /* Color de texto predeterminado */
}

/* Estilos para el contenedor principal de inicio de sesión */
.sesion {
  width: 30%;
  background: white;
  box-shadow: 0px 0px 10px 1px rgb(232, 232, 232);
  border-radius: 30px;
  transition: .4s;
  padding-inline: 50px;
  padding-bottom: 100px;
  text-align: center; /* Alinea el contenido al centro */
}

/* Estilos para el título "¡Bienvenido!" */
.sesion h3 {
  font-family: poppins;
  font-size: 30px;
}

/* Estilos para el botón de "Ingresar" */
.boton {
  position: relative;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  background: #03a64a;
  color: rgb(255, 255, 255);
  font-family: poppins;
  cursor: pointer;
  overflow: hidden;
  transition: .4s;
  margin-top: 20px;
}

.boton:hover {
  border: 1px solid #13ff0f;
  color: #03b500;
  background: rgb(242, 242, 242);
}

.boton:active {
  background: #03dc61;
  color: #ffffff;
}

/* Estilos para la imagen de fondo */
.fondo {
  width: 50%;
  position: relative;
  left: -170px;
}

/* Efecto de sombra al pasar el mouse sobre el contenedor de inicio de sesión */
.sesion:hover {
  box-shadow: 0px 0px 10px 1px rgb(185, 255, 164);
}

/* Estilos adicionales para el botón de "Ingresar" si es necesario */
.btn_ingresar {
  margin-top: 10px;
}

.icono_gramon{
  width: 100%;
  padding-top: 5%;
  margin: 0 auto; /* Centra horizontalmente */
}

@media (max-width: 750px) {
  /* Modificar el ancho para pantallas más pequeñas */
  .sesion {
    width: 70%; /* Ajusta el ancho según necesidades */
  }
  .fondo {
    display: none;
  }
  body{
    background-image: url("/static/img/este-si.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}