/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
h2 {
    color: #03A64A;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.form-control:focus, .form-select:focus {
    border-color: #03A64A;
    box-shadow: 0px 0px 5px rgba(3, 166, 74, 0.5);
}

/* Botón de registrar */
.btn-success {
    background-color: #03A64A;
    border-color: #03A64A;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #028a3a;
    border-color: #028a3a;
}

.titulo-pagina {
    font-weight: 600;   /* Más grueso pero no exagerado */
    font-size: 2rem;    /* Tamaño adecuado */
    letter-spacing: 0.5px;
}

/* Base opcional para todas */
.toast-custom {
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.toast-success {
  background-color: #e9f7ef;
  color: #155724;
  border-left: 5px solid #198754;
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.4);
}

.toast-error {
  background-color: #fdecea;
  color: #842029;
  border-left: 5px solid #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.4);
}

.toast-success .btn-close {
  filter: invert(35%) sepia(20%) saturate(500%) hue-rotate(90deg);
}

.toast-error .btn-close {
  filter: invert(20%) sepia(80%) saturate(500%) hue-rotate(-10deg);
}

.toast {
  transition: all 0.3s ease;
}

.toast:hover {
  transform: scale(1.02);
}