{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Pagina principal</title>
    <link rel="stylesheet" href="{% static 'css/User/home.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div id="header_panel_de_control">
            <h1 id="header_panel_de_control_text">Productividad del día</h1>
        </div>
        <section id="kpis">
            <div class="kpi">
                <h4 id="header_panel_de_control_text">Valor ventas del día</h4>
                <p id="daily_sale">...</p>
            </div>
            <div class="kpi">
                <h4 id="header_panel_de_control_text">Cantidad de ventas</h4>
                <p id="daily_sale">...</p>
            </div>  
            <div class="kpi">
                <h4 id="header_panel_de_control_text">Mayor venta</h4>
                <p id="daily_sale">...</p>
            </div> 
        </section>
        <div class="container-fluid">
            <div class="row">
              <div class="custom_chart">
                <canvas class="my-4" id="salesChart"></canvas>
              </div>
            </div>
        </div>
    </main>
{% endblock content %}
